<!DOCTYPE html>
<html lang="en">
<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->




</style>
<head>
    <meta charset="UTF-8">
    <title>Курсы валют</title>
</head>
<body>
<div>Категории:
    <a class="tab" href="{{ url_for('index') }}">Домашняя страница </a>
    <a class="tab" href="{{ url_for('courses') }}">Курсы валют </a>
    <a class="tab" href="{{ url_for('movies') }}">Фильмы </a>
    <a class="tab" href="{{ url_for('weather') }}">Погода </a>
</div>
<h1>
    Курсы валют на {{ rates.0.Date[0:-9] }}
</h1>
<div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=20, placeholder="ГГГГ-ММ-ДД") }}
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.button() }}
        </p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </form>
</div>
<div>
    {% for rate in rates %}
    <div>
        За {{ rate.Cur_Scale }} {{ rate.Cur_Name }} {{ rate.Cur_OfficialRate }} бел. рублей
    </div>
    {% endfor %}
</div>
</body>
</html>