<!DOCTYPE html>
<html lang="en">
<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->



</style>
<head>
    <meta charset="UTF-8">
    <title>Погода</title>
</head>
<body>
<div>Категории:
    <a class="tab" href="{{ url_for('index') }}">Домашняя страница </a>
    <a class="tab" href="{{ url_for('courses') }}">Курсы валют </a>
    <a class="tab" href="{{ url_for('movies') }}">Фильмы </a>
    <a class="tab" href="{{ url_for('weather') }}">Погода </a>
</div>
<h1>
    Погода на сегодня {{ data_now }}
</h1>
<div>
    <p>
        Город: {{ data_weather.city }}
    </p>
    <p>
        Температура: {{ data_weather.temp }}
    </p>
    <p>
        Влажность: {{ data_weather.humidity }}
    </p>
    <p>
        Давление: {{ data_weather.pressure }}
    </p>
</div>
</body>
</html>